.App {
  text-align: center;
}

body {
  background-color: lightblue;
  font-family: 'Sans-Serif';
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1200px;
}

input {
  width: 500px;
  height: 50px;
  background-color: white;
  border: none;
  padding-left: 15px;
  margin-top: 5px;
}

.search-input {
  width: 400px;
  height: 50px;
  background-color: white;
  border: none;
  padding-left: 15px;
  margin-top: 5px;
  border-radius: 20px;
}

.image-input {
  width: 200px;
  height: 50px;
  background-color: lightblue;
  border: none;
  padding-left: 15px;
  margin-top: 5px;
}


select {
  width: 500px;
  height: 50px;
  background-color: lightgray;
  padding-left: 15px;
  margin-top: 5px;
}

.submit-button {
  height: 40px;
  width: 500px;
  background-color: lightseagreen;
  margin-top: 10px;
  margin-left: 15px;
  padding-left: 15px;
  border-radius: 15px;
  border: 0cm;
}

.Btn-display {
  height: 40px;
  width: 500px;
  background-color: lightseagreen;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  border: 0cm;
}

.Btn-update, .Btn-populate {
  padding: 8px;
  height: 40px;
  width: 500px;
  background-color: lightseagreen;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  border: 0cm;
}

.Btn-populate {
  width: fit-content;
}

.Btn-remove {
  padding: 8px;
  height: 40px;
  width: fit-content;
  background-color: lightseagreen;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  border: 0cm;
}

.Btn-search {
  padding: 8px;
  width: fit-content;
  height: 50px;
  background-color: lightseagreen;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  border: 0cm;
}

.Btn-remove-all {
  height: 40px;
  width: 500px;
  background-color: blue;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  border: 0cm;
  color: azure;
}

#searchInput {
  padding: 5px;
  width: 200px;
}

.list_details {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: #f2f2f2;
  height: 50px;
  width: 500px;
}

.empTable {
  justify-content: center;
  height: max-content;
  width: 800px;
  background-color: grey;
  margin-top: 10px;
  margin-left: 10px;
  overflow: auto;
  border-collapse: collapse;
  border: 2px solid rgba(73, 73, 65, 0.938);
  letter-spacing: 1px;
  font-size: 0.8rem
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
 }

.searched-employee{
  color: darkgreen;
  background-color: #f2f2f2;
}

tr.highlight td { 
  background-color: #a6a8bd;
 }